{% if util_template_use_cow %}
#  --------------------
# ( Managed by Ansible )
#  --------------------
#   o            .    .     .
#    o      .  . .     `  ,
#     o    .; .  : .' :  :  : .
#      o   i..`: i` i.i.,i  i .
#       o   `,--.|i |i|ii|ii|i:
#            UooU\.'@@@@@@`.||'
#            \__/(@@@@@@@@@@)'
#                 (@@@@@@@@)
#                 `YY~~~~YY'
#                  ||    ||
{% else %}
# {{ ansible_managed }}
{% endif %}

server {
  listen {{ item.http_port|default('80')}};
{% if nginx_ipv6_enable %}
  listen [::]:{{ item.http_port|default('80')}};
{% endif %}

  server_name {{ item.servername }};
  return 302 https://$host$request_uri;

  error_log /var/log/nginx/{{ item.servername }}-error.log;
  access_log /var/log/nginx/{{ item.servername }}-access.log;
}

server {
  listen {{ item.http_port|default('443')}} ssl;
{% if nginx_ipv6_enable %}
  listen [::]:{{ item.http_port|default('443')}} ssl;
{% endif %}
  ssl_certificate {{ nginx_sslcert_basepath + '/' if nginx_sslcert_basepath is defined else '' }}{{ item.sslcert|default(nginx_default_sslcert) }};
  ssl_certificate_key {{ nginx_sslkey_basepath + '/' if nginx_sslkey_basepath is defined else '' }}{{ item.sslkey|default(nginx_default_sslkey) }};

  server_name {{ item.servername }};
  client_max_body_size {{ item.maxbodysize|default('10m') }};

  location / {
    include /etc/nginx/proxy_params;
    proxy_pass {{ item.upstreamserverproto|default('http') }}://{{ item.upstreamserver }};
  }

  error_log /var/log/nginx/{{ item.servername }}-error.log;
  access_log /var/log/nginx/{{ item.servername }}-access.log;
}
